/node_modules
.env
.env.production

/backups/
/database/init/

# ignore everything in db_queries except schema.sql
/db_queries/**
!/db_queries/schema.sql

# common dump patterns anywhere (if you later add more folders)
/**/backup_*.sql
/**/*dump*.sql
/**/*.dump
